.SCRBBLER-editor {
  width: 100%;
  height: 100%;
  list-style: none;
  overflow-x: auto;
  overflow-y: auto;
  font-family: 'Times New Roman';
}

.SCRBBLER-scribble-edit {
  vertical-align: top;
  height: 1.25em;
}

.SCRBBLER-scribble-name {
  cursor: pointer;
  background-color: transparent;
  vertical-align: center;
}

.SCRBBLER-scribble-syntax {
  color: red;
}

.SCRBBLER-scribble-comment {
  color: green;
}

.SCRBBLER-field {
  display: inline-block;
  min-width: 2ex;
  min-height: 1.0em;
  line-height: 1.0em;
  background-color: rgba(0,255,255,0.25);
  cursor: pointer;
}

.SCRBBLER-scribble {
  min-width: 2ex;
  min-height: 1.0em;
  line-height: 1.0em;
  width: 85%;
  list-style: none;
/*
  background-color: yellow;
  border-style: solid;
  border-color: magenta;
  border-width: 3px;
  border-radius: 10px;
*/
  padding: 0px;
}

.SCRBBLER-scribble-adder {
  min-width: 2ex;
  /*min-height: 10px;*/
  min-height: 0.5em;
  width: 90%;
  background-color: rgba(230,230,230,0.25);
  cursor: e-resize;
  list-style: none;
}

.SCRBBLER-scribble-insert {
  min-height: 0.25em;
  background-color: transparent;
  cursor: e-resize;
}

.SCRBBLER-scribble-info {
  display: inline-block;
  vertical-align: center;
}

.SCRBBLER-scribble-scope {
  display: inline-block;
  width: 100%;
  height: 100%;
  list-style: none;
  margin-left: -20px;
}

.SCRBBLER-scribble-post {
  display: block;
  vertical-align: center;
}
